# Environment variables for Axelrod

# Logging level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO

# Google Drive Model IDs
MODEL_ID=1HSGTNa48Ft3dgnhtDPufw321fphWf4kS
SCALER_ID=1kPLWoJbFaU3jC3jSENalLo1dSRz25mjp

# Flask/FastAPI settings (optional)
# FLASK_ENV=production
# DEBUG=False
